profiles {

   standard {
      includeConfig 'base.config'
      process.executor = 'local'
      conda.enabled = true
      process {
      	withName: PORECHOP{
               conda = "${baseDir}/porechop_filtlong_env.yml"
         }
      	withName: FILTLONG{
               conda = "${baseDir}/porechop_filtlong_env.yml"
         }
      }
   }
}
